@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #D94141;
  --primary-hover: #AD2D2D;
  --background-color: #F2E8DF;
  --icon-color: #D94141;
  --icon-black: #000000; 
  --text-black: #293238;
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Lora', serif;
  --font-sans: 'ElmsSans', system-ui, sans-serif;
}

@layer components {
  .btn-cta {
    @apply bg-[var(--primary-color)] hover:bg-[var(--primary-hover)] text-white font-medium;
  }
}


@layer base {
  .bg-primary {
    background-color: var(--primary-color);
  }
  
  .hover\:bg-primary\/90:hover {
    background-color: var(--primary-hover);
  }
  
  .text-primary {
    color: var(--primary-color);
  }
}

html, 
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  background-color: var(--background-color);
  color: #293238;
  font-family: var(--font-body);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,h2,h3 { font-family: var(--font-heading); }
.some-sans { font-family: var(--font-sans); }

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
